*.a
*.bak
*.diff
*.la
*.lo
*.log
*.o
*.out
*.so
*.swp
*.sym
*.zip


build.out/**
          **/config.log
**/.libs
third-party/check-0.12.0/lib/.deps
third-party/check-0.12.0/src/.deps/
third-party/check-0.12.0/tests/check_*
third-party/check-0.12.0/tests/ex_output
third-party/check-0.12.0/tests/.deps/
third-party/check-0.12.0/libtool
third-party/check-0.12.0/autom4te.cache/
third-party/check-0.12.0/config.status


third-party/zip30/flags                                                   
third-party/zip30/zip                                                
third-party/zip30/zipcloak
third-party/zip30/zipnote
third-party/zip30/zipsplit   
third-party/check-0.12.0/Makefile
third-party/check-0.12.0/Makefile.in
third-party/check-0.12.0/aclocal.m4
third-party/check-0.12.0/check.pc
third-party/check-0.12.0/check_stdint.h
third-party/check-0.12.0/checkmk/Makefile
third-party/check-0.12.0/checkmk/Makefile.in
third-party/check-0.12.0/checkmk/checkmk
third-party/check-0.12.0/config.h
third-party/check-0.12.0/config.h.in
third-party/check-0.12.0/doc/Makefile
third-party/check-0.12.0/doc/Makefile.in
third-party/check-0.12.0/doc/check.info
third-party/check-0.12.0/doc/stamp-vti
third-party/check-0.12.0/doc/version.texi
third-party/check-0.12.0/lib/Makefile
third-party/check-0.12.0/lib/Makefile.in
third-party/check-0.12.0/src/Makefile
third-party/check-0.12.0/src/Makefile.in
third-party/check-0.12.0/src/check.h
third-party/check-0.12.0/stamp-h1
third-party/check-0.12.0/tests/Makefile
third-party/check-0.12.0/tests/Makefile.in
third-party/check-0.12.0/tests/test_vars
third-party/check-0.12.0/configure
third-party/check-0.12.0/INSTALL
third-party/check-0.12.0/ar-lib
third-party/check-0.12.0/compile
third-party/check-0.12.0/config.guess
third-party/check-0.12.0/config.sub
third-party/check-0.12.0/depcomp
third-party/check-0.12.0/doc/mdate-sh
third-party/check-0.12.0/doc/texinfo.tex
third-party/check-0.12.0/install-sh
third-party/check-0.12.0/missing
third-party/check-0.12.0/test-driver
